name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build:
    strategy:
      matrix:
        rust_version: ["latest", "1.86", "1.85", "1.84", "1.83", "1.82", "1.81", "1.80", "1.79", "1.78", "1.77", "1.76"]
      fail-fast: false

    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set rust version in devcontainer
      run: ./scripts/set-rust-version.sh ${{ matrix.rust_version }}

    - name: Build and test
      uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
      with:
        runCmd: ./scripts/ci.sh
